/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.note-form {
  margin-bottom: 20px;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust minmax width as needed */
  gap: 20px;
}

.note {
  position: relative;
  width: 200px; 
  height: 200px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.edit-btn,
.delete-btn {
  position: absolute;
  background-color: #f00; 
  color: #fff; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-btn {
  top: 8px;
  right: 8px;
}

.delete-btn {
  bottom: 8px;
  right: 8px;
}

button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #d8555f;
}

.note p { 
  margin: 0;
}
